nav {
  position: fixed;
  display: flex;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.3);

  gap: 2rem;
  padding: 1rem 2rem;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3rem;
  backdrop-filter: blur(10px);
  z-index: 100;
}
nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}
nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}

nav a.active {
  background-color: var(--color-bg);
  color: var(--color-white);
}
