@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 400ms ease;
}

/* Set core root defaults */
html,
html:focus-within {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  color: var(--color-white);
  background-color: var(--color-bg);
  background-image: url(../src/assets/bg-texture.png);
}

img,
picture {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

section {
  margin-top: 8rem;
  height: 100vh;
}

section > h2,
section > h5,
section > div h2,
section > div h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2,
section > div h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

.text-light {
  color: var(--color-light);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border: 1px solid var(--color-primary);
  border-radius: 0.4rem;
  cursor: pointer;
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

/*============= MEDIA QUERY FOR MEDIUM DEVICES ================*/
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 8rem;
    height: unset;
  }
}

/*============= MEDIA QUERY FOR SMALL DEVICES ================*/
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section {
    margin-top: 4rem;
    height: unset;
  }

  section > h2 {
    margin-top: 2rem;
  }
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}
